@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;1,400&display=swap');

// $primary: #d3e8ff;
// $secondary: #fe49a7;
// $background: #0a0b0c;
// $border: #7176fa;
// $input:  #141415;
// $font: #d3e8ff;

// $primary: #FF6F61;  //Living Coral
// $secondary: #F9B775; //Mango Mojito
// $background: #0a0b0c;
// $border: #F9B775; 
// $input:  #141415;
// $font: #fcfcfc;

$primary: #1abc9c; // Teal
$secondary: #9c27b0;
$background: #EEEEEE; // Grey
$border: #00bcd4;
$input:  #e2fbfe;
$font: #03a9f4; // Cyan

body {
  margin: 0;
  background-color: black;
  height: 100vh;

}

.cs-main-container {
  border: outset 6px $border;
  border-radius: 15px;
  box-sizing: border-box;
  color: $font;
  font-size: 1rem;
  height: 100vh;
}

.cs-message-list {
  padding-top: 10px;
  background-color: $background;
}

.cs-chat-container .cs-message-input {
  border-top: solid 1px $border;
  padding: .6em 0 .6em 0em;
  color: $font;
  background-color: $background;
}

.cs-message-input__tools {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 8px;
  border: 1.6px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.1em;
  margin: 2px 5px 2px 5px;
  align-self: center;
}
.cs-message-input__tools:hover {
  border-color: $secondary;
}
.cs-message-input__tools:focus,
.cs-message-input__tools:focus-visible {
  outline: 5px auto -webkit-focus-ring-color;
}

.cs-message__content {
  color: rgba(0,0,0,.87);
  background-color: $primary;
  font-family: 'Inter', sans-serif;
  font-size: 0.9em;
}

.cs-message-input__content-editor-wrapper {
  background-color: $input;
  margin: 0;
  padding: 1.5em 1em;
  border-radius: .7em;
  border: solid 1px $primary;
}

.cs-message-input__content-editor {
  background-color: $input;
  color: $font;
}

.cs-message-input__content-editor[data-placeholder]:empty:before {
  color: $font;
  opacity: 0.3;
}

.cs-message.cs-message--outgoing {
  padding: 5px;
}

.cs-message--outgoing .cs-message__content {
  background-color: $font;
}

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
  .cs-main-container {
    height: 80vh;
  }
}

// Portrait orientation for iPhone 5/SE/6/7/8:

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { 
  body {
    overflow: hidden;
  }
  .cs-main-container {
    height: 80vh;
  }
}


// Landscape orientation for iPhone 5/SE/6/7/8:

@media only screen and (min-device-width : 568px) and (max-device-width : 320px) and (orientation : landscape) { 
  body {
    overflow: hidden;
  }
  .cs-main-container {
    height: 80vh;
  }
}

// Portrait orientation for iPhone X/XS/11 Pro:

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (orientation : portrait) { 
  body {
    overflow: hidden;
  }
  .cs-main-container {
    height: 80vh;
  }
}

// Landscape orientation for iPhone X/XS/11 Pro:

@media only screen and (min-device-width : 812px) and (max-device-width : 375px) and (orientation : landscape) { 
  body {
    overflow: hidden;
  }
  .cs-main-container {
    height: 80vh;
  }
}



